@font-face {
    font-family: pressura;
    src: url("../fonts/gt-pressura-light.ttf");
}

body, html
{
  font-family: pressura;
  padding: 0;
  margin: 0;
}

a
{
  color: inherit;
  text-decoration: none;
}

ul
{
  padding: 0;
  margin: 0;
  list-style: none;
}

#content
{
  height: 100vh;
  position: relative;
}
