header.header
{
  position: fixed;
  z-index: 10;
  background: red;

  .categories
  {
    pointer-events: none;
    opacity: 0;
    transform: translateX(-100%);
    position: fixed;
    background: #4ECDC4;
    color: white;
    z-index: -1;
    display: table;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 100%;
    transition: opacity 0.3s, transform 0.5s;
    &.show
    {
      opacity: 1;
      pointer-events: all;
      transform: translateX(0);
    }
    ul
    {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      width: 100%;
      padding-left: 10%;
      li
      {
      }
    }
  }

  .bag
  {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
